<template>
  <div class="custom-page">
    <!-- custom-page__bg -->
    <div class="custom-page__bg message-page__bg">
    </div>
    <!-- /custom-page__bg -->
    <!-- container -->
    <div class="container medium">
      <!-- chat-box -->
      <div class="chat-box">
        <!-- chat-box__header -->
        <div class="chat-box__header">
          <a href="#" class="back"><i class="icon icon-left"></i></a>
          <h1 class="main-title">Добро пожаловать в онлаин-чат службы поддержки</h1>
          <div style="width: 12px;" class=""></div>
        </div>
        <!-- /chat-box__header -->
        <!-- chat-box__messages -->
        <div :class="messages.length ? 'chat-box__messages' : ''">
          <div class="chat-box__message" v-for="(msg, i) of messages" :key="i" :class="msg.isMy ? 'own' : ''">
            <div class="message">
              {{msg.name}}. <br> {{msg.message}}
              <div class="time">{{msg.date}}</div>
              <div class="clear"></div>
            </div>
          </div>

        </div>
        <form class="chat-box__form main-form" @submit.prevent="sendMessage">
          <textarea class="input-style" rows="7" v-model="message"></textarea>
          <div class="row">
            <label class="main-form__item file-field">
            </label>
            <div class="main-form__submit">
              <button type="submit" class="radius-button standart rounded">Отправить</button>
            </div>
          </div>
        </form>
        <!-- /chat-box__form -->
      </div>
      <!-- /chat-box -->
    </div>
    <!-- /container -->
  </div>
</template>

<script>


export default {
  name: 'custom-page',

  data: () => ({
    connection: null,
    message: '',
    messages: []
  }),


  methods: {
    sendMessage() {
      const sentMsg = {
        name: 'Дмитрий',
        message: this.message
      }

      this.messages.push({...sentMsg, isMy: true, date: new Date(Date.now()).toDateString()})

      this.connection.send(JSON.stringify(sentMsg));

      this.message = ''
    }
  },


  created() {
    console.log('Starting connection to websocket');
    this.connection = new WebSocket('ws://skade.cc:38080');

    this.connection.onopen = () => {
      console.log('onopen');
    }

    this.connection.onmessage = (event) => {
      this.messages.push({...JSON.parse(event.data), isMy: false, date: new Date(Date.now()).toDateString()})
    }

    this.connection.onerror = function (errorEvent) {
      this.connection = new WebSocket('ws://skade.cc:38080');
      console.log("WebSocket ERROR: ", errorEvent);
    };
  }

}
</script>