<template>
  <footer class="footer">
    <!-- footer__container -->
    <div class="container responsive footer__container">
      <div class="footer__item">
        <div class="footer__copyright">Copyright    &#169; 2020 MyStartup</div>
        <div class="footer__copyright">Все права защищены.</div>
      </div>
      <div class="footer__item">
        <ul class="footer__menu">
          <li><a href="#">Главная</a></li>
          <li><a href="#">Наша миссия</a></li>
          <li><a href="#">Наша команда</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
        <div class="footer__socials">
          <a href="#"><i class="icon icon-vk"></i></a>
          <a href="#"><i class="icon icon-instagram"></i></a>
          <a href="#"><i class="icon icon-facebook"></i></a>
          <a href="#"><i class="icon icon-twitter"></i></a>
          <a href="#"><i class="icon icon-telegram"></i></a>
        </div>
      </div>
      <ul class="footer__item _mobile footer__menu">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Наша миссия</a></li>
        <li><a href="#">Наша команда</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
      <div class="footer__item">
        <a href="#" class="radius-button support-button dotted">Поддержка</a>
        <a href="#" class="footer__link">Пользовательское соглашение</a>
        <a href="#" class="footer__link">Политика конфиденциальности</a>
      </div>
      <div class="footer__item _mobile">
        <div class="footer__copyright _mobile">Copyright    &#169; 2020 Bitswap.</div>
        <div class="footer__copyright _mobile">Все права защищены.</div>
      </div>
    </div>
    <!-- /footer__container -->
  </footer>
</template>

<script>
  export default {
    name: 'Footer'
  }
</script>