<template>
  <div id="app">
    <Chat/>
  </div>
</template>

<script>
import Chat from './components/Chat'

export default {
  name: 'App',
  components: {
    Chat
  }
}
</script>

<style>

body {
  font-family: 'ish-open', sans-serif;
  font-size: 16px;
  background-color: #0d1019;
  color: #fff;
  letter-spacing: 0.02em;
}

@font-face {
  font-family: 'ish-exo';
  src: url("./assets/fonts/Exo2-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ish-open';
  src: url("./assets/fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ruble';
  src: url("./assets/fonts/ruble.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ish-open';
  src: url("./assets/fonts/OpenSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

</style>
